body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.menu-section {
  background: #fff;
}

.navbar-brand img {
  max-width: 150px;
}

.navbar-nav .nav-item .color-blue {
  color: #007cc3 !important;
}

ul.navbar-nav li.searchbar a {
  padding: 0;
  width: 30px;
  height: 30px;
  background: #cfeaf4;
  text-align: center;
  border-radius: 30px;
  border: solid 1px #007cc3;
}

ul.navbar-nav li.searchbar i {
  margin-top: 6px;
  position: relative;
  margin-left: -1px;
}

.getintouch {
  margin-left: 100px;
}

.getintouch a {
  border-bottom: none !important;
}

.navbar-nav .nav-item .font-size-14 {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.navbar-nav .nav-item .nav-link:link {
  text-decoration: none;
}

.navbar-nav .nav-item:not(.searchbar) .nav-link {
  border: solid 3px transparent;
}

.navbar-nav .nav-item:not(.searchbar) .nav-link:hover {
  border-bottom: solid 3px #fe4902;
  /* width: 88px;
  position: absolute;
  bottom: 0;
  height: 4px;
  background: #fe4902;
  overflow: hidden; */
}

.item img {
  max-width: 100% !important;
}

.item {
  position: relative;
}

.text-on-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 70px;
}

.h1-style {
  font-size: 50px;
  font-weight: 700;
}

.color-white {
  color: #fff;
}

.bg-dark-light {
  background: #fe4902;
  color: #fff;
  border: none;
  border-radius: 20px;
}

.button-div i {
  font-size: 13px;
  font-weight: 400;
}

.play-button {
  background: #fe4902;
  color: #fff;
  border: none;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: block;
}

.font-color-black {
  color: #000;
}

.bannerr-carousell .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.bannerr-carousell .owl-dots .owl-dot.active span {
  background: #f47721 !important;
}

.bannerr-carousell .owl-dots .owl-dot span {
  width: 20px;
  height: 5px;
  background: #d9e0ec;
}

.bg-color-cream {
  background: #f4f4f4;
}
.bg-white2{
  background: #fff;
}
.bg-white {
  background: #ffffff;
}

.tab-title a:hover {
  border-bottom: solid 3px #fe4902 !important;
  padding-bottom: 2px;
}

.tab-menu-section .tab-wrap ul li .tab-title {
  display: table;
  width: 100%;
}

.tab-menu-section .tab-wrap ul li {
  list-style-type: none;
  text-align: center;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.tab-title a {
  text-decoration: none;
  font-size: 14px !important;
  color: #58717a !important;
  font-weight: 500;
}

.tab-text-list {
  border-bottom: 3px solid #e4e6e7;
}

/* .tabs-wraper {
  max-width: 25%;
} */
.border-box{
  box-shadow: 0px 0px 19px 6px #ebebeb;
}

.tab-icon {
  text-align: left;
}

.tab-icon-content {
  color: #000;
  padding: 0;
  margin: 12px 0;
}

.h2-style {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #1d3139;
}

.tab-explore .explore-button:after {
  content: "\f178";
  position: absolute;
  font-family: FontAwesome;
  line-height: 25px;
  padding-left: 12px;
  color: gray;
  font-size: 14px;
  font-weight: 100;
}

.tab-explore .explore-button {
  display: inline-block;
  color: #1f8bca;
  position: relative;
  font-weight: 600;
  padding-right: 6px;
  font-size: 14px;
}

.tab-icon i {
  color: #fd6925;
  font-size: 30px;
}

.tab-icon-image {
  text-align: left;
}

.tab-item {
  padding: 16px
}

.tab-icon-text p {
  color: #6f848c;
}

.bg-dark-light-two {
  background: #fff;
  color: #fe4902;
  border: 1px solid #fe4902;
  border-radius: 20px;
}

.checkit-btn i{
  font-size: 12px;
}

.driving-digital{
  background: #efefef;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link{
  color: #000 !important;
  border: none;
  background: none;
}
.nav-tabs{
  border: none;
}
.orange-underline{
  border-bottom: solid 5px #fe4902;
  width: 83px;
}
.digital-para{
  color: #687e85;
  text-align: left
}
@media (max-width: 768px) {
  .text-on-image{
    padding-top: 16px
  }
  .h1-style {
    font-size: 21px;
  }
  .check-button{
    text-align: center;
  }
  .bannerr-carousell .owl-dots{
    left: 37%;
  }
}
