body {
    padding: 0;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
.menu-section{
    background: #fff;
}
.navbar-brand img{
  max-width: 150px;
}
.navbar-nav .nav-item .color-blue{
  color: #007cc3 !important;
}
ul.navbar-nav li.searchbar a{
    padding: 0;
    width: 30px;
    height: 30px;
    background: #cfeaf4;
    text-align: center;
    border-radius: 30px;
    border: solid 1px #007cc3;
}
ul.navbar-nav li.searchbar i{
    margin-top: 6px;
    position: relative;
    margin-left: -1px;
}
.getintouch{
  margin-left: 100px;
}
.getintouch a{
  border-bottom: none !important;
}
.navbar-nav .nav-item .font-size-14{
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link:link{
  text-decoration: none;
}
.navbar-nav .nav-item:not(.searchbar) .nav-link{
  border: solid 3px transparent;
}
.navbar-nav .nav-item:not(.searchbar) .nav-link:hover{

  border-bottom: solid 3px #fe4902;
  /* width: 88px;
  position: absolute;
  bottom: 0;
  height: 4px;
  background: #fe4902;
  overflow: hidden; */
}
.item img{
  max-width: 100% !important;
}
.item{
  position: relative;
}
.text-on-image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 70px;
}
.h1-style{
  font-size: 50px;
  font-weight: 700;
}
.color-white{
  color: #fff;
}
.bg-dark-light{
  background: #fe4902;
  color: #fff;
  border: none;
  border-radius: 20px;
}
.button-div i{
  font-size: 13px;
  font-weight: 400;
}